<body> 
    <div> 
        <h2 style="color:#0F9FA8;text-align:center;">SIGTEA</h2> 
        <hr> 
        <div>
            <p> Estimado/a <b>{{empresa.razonSocial}}</b> - <b>CUIT N°: {{empresa.cuit}}</b> le enviamos lo siguiente: <br>
                "{{mensaje}}" <br>

                Saludos cordiales.
            </p>
        </div>
    </div> 
</body> 