{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class = "container-fluid login-div">
    <div class="login-div-purple">
        Correo enviado
    </div>
    <p>
    {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
    </p>
    <div class ="mt-2 text-center">
        <a class="text-info" href="{{path('fos_user_security_login')}}">Volver al login<i class="ml-1 fas fa-user-circle"></i></a>
    </div>
    <br>
</div>
{% endblock %}
